[flake8]
# Base flake8 configuration:
# https://flake8.pycqa.org/en/latest/user/configuration.html
format = wemake
show-source = True
statistics = False
doctests = True

# darglint configuration:
# https://github.com/terrencepreilly/darglint
strictness = long
docstring-style = numpy

# Plugins:
max-complexity = 6
max-line-length = 80

# Excluding some directories:
exclude =
  .git
  __pycache__
  .venv
  .eggs
  *.egg

# Exclude some pydoctest checks globally:
ignore = D100, D104, D401, W504, RST210, RST213, RST299, RST303, RST304, DAR103, DAR203

per-file-ignores =
  # Our module is complex, there's nothing we can do:
  split_settings/tools.py: WPS232
  # Tests contain examples with logic in init files:
  tests/*/__init__.py: WPS412
  # There are multiple fixtures, `assert`s, and subprocesses in tests:
  tests/*.py: S101, S105, S404, S603, S607
